{% extends 'base.html' %}

{% block title %}Title Here{% endblock %}

  {% block stylesheet %}

  {% endblock %}


{% block content %}

  <form method="POST" class="post-form" action={% url 'login' %} >
    {% csrf_token %}
    <div class="container">
    <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Login</h3>
        </div>
      </div>


    {% for field in form %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
      <div class="col-sm-4">
        {{ field }}
      </div>
    </div>

        <!--
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        -->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

    {% endfor %}

    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Login</button>
          <input type="hidden" name="next" value="{{next}}">
      </div>
    </div>
  </div>
  </form>

  {% endblock %}
