{% extends 'base.html' %}

{% block title %}Edit{% endblock %}
{% block stylesheet %}  {% endblock %}
{% block content %}
    <form method="POST" class="post-form" action="/update/{{employee.id}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <!-- {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %} -->

        {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}
        <br>


        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Edit Employee</h3>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">employee Id:</label>
        <div class="col-sm-4">
            <input type="text" name="id" id="id_id" required maxlength="20" value="{{ employee.id }}"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Name:</label>
        <div class="col-sm-4">
          <input type="text" name="name" id="id_name" required maxlength="20" value="{{ employee.name | upper }}"/>
        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Email:</label>
        <div class="col-sm-4">
          <input type="text" name="email" id="id_email" required maxlength="20" value="{{ employee.email }}"/>

        </div>
      </div>
        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Date of birth:</label>
        <div class="col-sm-4">
          <input type="text" name="dob" id="id_dob" required maxlength="20" value="{{ employee.dob | date:"m/d/Y"  }}"/>
        </div>
      </div>
      <div class="form-group row">
    <label class="col-sm-2 col-form-label">Employee Salary:</label>
    <div class="col-sm-4">
      <input type="text" name="salary" id="id_salary" required maxlength="20" value="{{ employee.salary |floatformat:"-3"}}"/>
    </div>
    <div class="form-group row">
          <label class="col-sm-2 col-form-label">Employee Photo:</label>
          <div class="col-sm-4">
            {% if employee.photo %}
                <img src="{{ employee.photo.url }}" alt="No image" width="200px" class="blah" />
            {% endif %}
              <input type="file" name="photo" id="id_photo" value="{{ employee.photo }}" onchange="readURL(this);" />
          </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Department:</label>
    <div class="col-sm-4">
        <!-- <input type="text" name="user" id="id_contact" value="{{ employee.user }}" /> -->
        <select class="form-control" id="id-department" name="department" required>
          <option  value="" >---SELECT---</option>
            {% for department in departments %}

                <option value="{{department.id}}"
                {% if department == employee.department %} selected="selected" {% endif %}>
                {{department.name}}
                </option>
            {% endfor %}
        </select>
    </div>

    </div>
        <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
        </div>
    </form>
{% endblock %}
