{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="">
      {% for message in messages %}
          <div class="alert alert-danger">
              <a class="close" href="#" data-dismiss="alert">×</a>
              {{ message }}
          </div>
      {% endfor %}
      <br>

      <center><a href="/create" class="btn btn-primary">Add New Record</a></center>
      <br><br>
    </div>
    <table class="table table-bordered" id="emptable" data-page-length='5'>
      <thead class="thead-dark">
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Email</td>
          <td>Photo</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {% for emp in employees %}
        <tr>
          <td>{{emp.id}}</td>
          <td>{{emp.name | upper }}</td>
          <td>{{emp.email}}</td>
          <td><img src="{{ emp.photo.url }}" alt="No" width="100px"  /></td>
          <td>
                <a href="/edit/{{ emp.id }}">Edit</a>
                <a href="/delete/{{ emp.id }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<br>
{% endblock %}
